<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'now.css' %}">
    <title>Add Comment</title>
</head>

<body>
    {{Mmodel}}<br>
    comment : <input type="text" name="content">
    <button type="button" id="submit">Submit</button>
    <br>
    <ul class='discuss'>
        {% for d in D%}
        <li>user :{{d.uid}}<br>content :{{d.content}}</li>

        {% endfor %}
    </ul>
    <script>
        $('button#submit').click(evt => {
            $.ajax({
                method: "POST",
                url: "/api/comment/add",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    content: $("input[name='content']").val(),
                }
            }).done(msg => {
                $('.discuss').empty();
                $.each(msg, function (index, element) {
                    $('.discuss').append(
                        $('<li>', {
                            text: 'User Id：' + element.uid
                        }),
                        $('<input>', {
                            'data-id': element.id,
                            value: element.content
                        }),
                        $('<p>'),
                        $('<button>', {
                            type: "button",
                            class: "update",
                            'data-id': element.id
                        }).html("Update"),
                        $('<button>', {
                            type: "button",
                            class: "delete",
                            'data-id': element.id
                        }).html("Delete")
                    );
                });
                $('button.update').click(evt => {
                    $.ajax({
                        method: "POST",
                        url: "/api/comment/update",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            id: evt.target.dataset.id,
                            content: $(`input[data-id="${evt.target.dataset.id}"]`)
                                .val()
                        }
                    }).done(msg => {
                        if (msg.result) {
                            alert("更新成功! ")
                            window.location.reload()
                        } else {
                            alert("更新失敗 ! 小壞壞")
                        }
                    })
                })
                $('button.delete').click(evt => {
                    $.ajax({
                        method: "POST",
                        url: "/api/comment/delete",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            id: evt.target.dataset.id,
                        }
                    }).done(msg => {
                        if (msg.result) {
                            alert("刪除成功 ! ")
                            window.location.reload()
                        } else {
                            alert("刪除失敗 ! 小壞壞")
                        }
                    })
                })
            })
        })
    </script>
</body>

</html>