<!DOCTYPE html>
<html>

<head>
  <title>{{ value }} - COMPARE</title>
  <script src="/static/javascripts/jquery.min.js"></script>
  <script src="/static/javascripts/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='/static/stylesheets/search.css'>
  <script defer="true">
    $.ajax({
      method: 'POST',
      url: '/api/search',
      data: {
        value: "{{ value }}"
      }
    }).done(msg => {
      console.log(msg.result)
      msg.result.forEach((ele) => {
        var div = $('<div>', {
          class: "card border-info m-3"
        }).append($('<h4>', {
          class: "card-header bg-transparent border-info d-flex justify-content-between align-items-center"
          
        }).html(ele.model  + `<button class="btn btn-primary comment" data-model="${ele.model}" data-mid="${ele.mid}">評論</button>`) )
        for (let i = 0; i < ele.data.length; i++) {
          var row = $('<div>', {
            class: "card-body row"
          })
          row.append(`
          <div class="col-1">
            <img src="${ele.data[i].image_url}" class="img-fluid"></div>
          <div class="col">
            <h5 class="card-title"><a href="${ele.data[i].url}" target="_blank">${ele.data[i].title}</a></h5>
            <h5 class="card-text">$ <span>${ele.data[i].price}</span> </h5>
          </div>
          `)
          div.append(row)
          console.log(i)
          if (i > 1 && msg.result.length != 1) {
            console.log("HELLO")
            div.append(`<div class="card-footer bg-transparent border-success"><a href='/search?value=${ele.model}'>顯示更多</a></div>`)
            break
          }
        }
        $('div#main').append(div)
      });
      $('button.comment').click(evt=>{
        $('button.add').attr("data-mid",evt.target.dataset.mid)
        $.ajax({
          method:'POST',
          url:'/api/comment',
          data:{
            mid:evt.target.dataset.mid
          }
        }).done(msg=>{
            $(".modal-title").text(evt.target.dataset.model)
            $('#discuss').empty()
            if(msg.length == 0) $('#discuss').html("<h3 class='text-center m-5'>目前沒有評論喔😉</h3>")
          msg.forEach(ele=>{
            if(ele.editable) $('#discuss').append(`
            <div data-id='${ele.id}' class="card m-2">
              <div class="card-header d-flex justify-content-center align-items-center">
                <div>來自 <span>${ele.nickname}</span> 的評論 </div>
                <button class="btn btn-success edit mx-1" data-id='${ele.id}'>編輯</button> 
                <button class="btn btn-danger delete mx-1" data-id='${ele.id}'>刪除</button>
              </div>
              <div data-id='${ele.id}' class="card-body d-flex flex-column align-items-end">
                  <div class='text w-100' data-id='${ele.id}'>${ele.content}</div>
              </div>
            </div>
            `)
            else $('#discuss').append(`
            <div class="card m-2">
              <div class="card-header d-flex justify-content-center align-items-center">
                <div>來自 <span>${ele.nickname}</span> 的評論</div>
              </div>
              <div class="card-body">
                  <div class='text w-100'>${ele.content}</div>
              </div>
            </div>
            `)
          })
          $('button.edit').click(evt=>{
            let id = evt.target.dataset.id
            let textDiv = $(`div.text[data-id="${id}"]`)
            textDiv.replaceWith($('<textarea>',{class:"form-control","data-id":id}).text(textDiv.text()));
            $(`.card-body[data-id="${id}"]`).append($('<button>',{class:"btn btn-primary mt-2 ml-auto save","data-id":id}).text('儲存').click(evt=>{
              let textarea = $(`textarea[data-id="${id}"]`)
              $.ajax({
                method:"POST",
                url:"/api/comment/update",
                data:{
                  id:id,
                  content:textarea.val()
                }
              }).done(msg=>{
                console.log(msg)
                textarea.replaceWith($('<div>',{class:"text w-100","data-id":id}).text(textarea.val()))
                $(`button.save[data-id="${id}"]`).remove()
              })
            }))
          })
          $('button.delete').click(evt=>{
              let id = evt.target.dataset.id
            $.ajax({
              method:'POST',
              url:'api/comment/delete',
              data:{
                id:id
              }
            }).done(msg=>{
              $(`.card[data-id="${id}"]`).remove()
            })
          })
          $('button.gogo').parent().remove()
          $('button.add').removeClass("d-none")
          $('.modal').modal()
        })
      })
      $('button.add').click(evt=>{
        $(evt.target).addClass("d-none")
        $(evt.target).parent().append(`<div class="d-flex flex-column w-100 align-items-end">
            <textarea id="newComment" class="form-control"></textarea>
            <button class="btn btn-primary mt-1 gogo" data-mid="${evt.target.dataset.mid}">發送</button>
            </div>`)
        $('button.gogo').click(evt=>{
          $.ajax({
          method:'POST',
          url:'/api/comment/add',
          data:{
            mid:evt.target.dataset.mid,
            content:$('#newComment').val()
          }
        }).done(msg=>{
          $(`button.comment[data-mid="${evt.target.dataset.mid}"]`).click()
        })
        })
    })
  })
  </script>
</head>

<body>
  <div class="sticky-top container-fluid navDiv">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light row">
      <a class="navbar-brand col" href="/"><img class="img-fluid" src="/static/images/logo.png" alt=""></a>
      <form action="/search" method="GET" class="input-group col-6 align-items-end">
        <input id="searchbox" class="form-control text-light" type="search" aria-label="Search" name="value"
          value="{{ value }}">
        <select class="form-control col-2 text-light" style="text-align-last: center;" id="searchcata">
          <option>類別</option>
          <option>手機</option>
          <option>筆電</option>
          <option>電玩</option>
          <option>相機</option>
        </select>
        <div class="input-group-append">
          <button id="searchbtn" class="btn btn-dark" type="submit"><img class="w-50" src="/static/images/search.png"
              alt=""></button>
        </div>
      </form>
      <div class="col d-flex justify-content-end h-100">
        <h4 class="inline-flex">您好，{{nickname}}
          {% if logged %}
          <script>
            var logout = () => {
              $.ajax({
                url: '/logout'
              }).done(() => {
                window.location.href = '/'
              })
            }
          </script>
          <a href="#" onclick="logout()">登出</a>
          {% else %}
          <a href="/login">登入</a>
          {%endif%}
        </h4>
      </div>
    </nav>
  </div>
  <div id="main" class="container-fluid">
    <div class="modal modal-lg " tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
    {% if logged %} 
    <div class="d-flex w-100 justify-content-end px-2"><button class="btn btn-primary add">新增評論</button></div>
    {%endif%}
    <div id="discuss"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>