<!DOCTYPE html>
<html>

<head>
  <title>首頁 - COMPARE</title>
  <script src="/static/javascripts/jquery.min.js"></script>
  <script src="/static/javascripts/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='/static/stylesheets/search.css'>
  <script defer="true">
    $.ajax({
      method: 'POST',
      url: '/api/search',
      data: {
        value: "{{ value }}"
      }
    }).done(msg => {
      console.log(msg.result)
      msg.result.forEach((ele) => {
        var div = $('<div>', {
          class: "card border-info m-3"
        }).append($('<h4>', {
          class: "card-header bg-transparent border-info"
        }).html(ele.model + ` <a href="/comment?id=${ele.mid}">評論</a>`))
        for (let i = 0; i < ele.data.length; i++) {
          var row = $('<div>', {
            class: "card-body row"
          })
          row.append(`
          <div class="col-1">
            <img src="${ele.data[i].image_url}" class="img-fluid"></div>
          <div class="col">
            <h5 class="card-title"><a href="${ele.data[i].url}" target="_blank">${ele.data[i].title}</a></h5>
            <h5 class="card-text">$ <span>${ele.data[i].price}</span> </h5>
          </div>
          `)
          div.append(row)
          console.log(i)
          if (i > 1 && msg.result.length != 1) {
            console.log("HELLO")
            div.append(`<div class="card-footer bg-transparent border-success"><a href='/search?value=${ele.model}'>顯示更多</a></div>`)
            break
          }
        }
        $('div#main').append(div)
      });
    })
  </script>
</head>
<!-- <div class="card border-info m-3">
      <h4 class="card-header bg-transparent border-info">ASUS ZENFONE 6 ZS630KL 128GB <a href="/comment?">評論</a></h4>
      <div class="card-body row">
        <div class="col-1">
          <img src="https://cf.shopee.tw/file/50c14b1d45d73d0c2dd71b7f07a62a2b" class="img-fluid"></div>
        <div class="col">
          <h5 class="card-title"><a href="">免運費 華碩 ASUS ZenFone 6 ZS630KL 128GB 256GB 現貨當天寄出</a></h5>
          <h5 class="card-text">$ <span>18800</span> </h5>
        </div>
      </div>
    </div> -->

<body>
  <div class="sticky-top container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light row">
      <a class="navbar-brand col" href="/"><img class="img-fluid" src="/static/images/logo.png" alt=""></a>
      <form action="/search" method="GET" class="input-group col-6 align-items-end">
        <input id="searchbox" class="form-control text-light" type="search" aria-label="Search" name="value"
          value="{{ value }}">
        <select class="form-control col-2 text-light" style="text-align-last: center;" id="searchcata">
          <option>類別</option>
          <option>手機</option>
          <option>筆電</option>
          <option>電玩</option>
          <option>相機</option>
        </select>
        <div class="input-group-append">
          <button id="searchbtn" class="btn btn-dark" type="submit"><img class="w-50" src="/static/images/search.png"
              alt=""></button>
        </div>
      </form>
      <div class="col d-flex justify-content-end h-100">
        <h4 class="inline-flex">您好，{{nickname}}
          {% if logged %}
          <script>
            var logout = () => {
              $.ajax({
                url: '/logout'
              }).done(() => {
                window.location.href = '/'
              })
            }
          </script>
          <a href="#" onclick="logout()">登出</a>
          {% else %}
          <a href="/login">登入</a>
          {%endif%}
        </h4>
      </div>
    </nav>
  </div>
  <div id="main" class="container-fluid">
  </div>
</body>

</html>