body {
  background: url("/static/images/bokeh.jpg");
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#box {
  width: 80vw;
  border-radius: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

#log {
  color:white;
  position: fixed;
  top:10px;
  right:10px;
}

.btn {
  width: 20vw;
}

#searchbox , #searchcata , #searchbtn {
  height: 7.5vh;
  background:rgba(187, 166, 166, 0.75);
  border: 3px rgba(255, 255, 255, 0.75) solid;
}

#searchbox {
  border-right:0 ;
  border-radius: 50px 0 0 50px;
}

#searchcata {
  border-left: 0;
  border-right: 0;
}

#searchbtn {
  width: 10vw;
  border-left: 0;
  border-radius: 0 50px 50px 0;
}